<form style="padding-left: 2%;padding-right: 2%;min-height: 300px;padding-bottom: 2%;padding-top:2%;">
    <div class="col-lg-12">
        <div class="row">
            <div class="col-lg-4 form-group">
                  <mat-form-field>
                    <mat-label>
                        PIN
                      <span class="compulsary-mark">*</span>
                      </mat-label>
                    <input
                      type="text"
                      matInput
                      name="name"
                      [disabled]="true"
                    />
                  </mat-form-field>
              </div>
              <div class="col-lg-4 form-group required">
                  <ng-select               
                  [items]="requestStatusObj"
                  placeholder="Request Status"
                  bindLabel="name"
                  [clearable]="false"
                  [virtualScroll]="true"
                  [readonly]="true"
                  appendTo="body">
                  <ng-template ng-option-tmp let-item="item">
                    {{ item.name }}
                  </ng-template>
                  </ng-select>
              </div>
              <div class="col-lg-4 form-group required">
                <ng-select               
                ngSelectMat
                [items]="channelObj"
                placeholder="Channel"
                bindLabel="name"
                [clearable]="false"
                [virtualScroll]="true"
                appendTo="body">
                <ng-template ng-option-tmp let-item="item">
                  {{ item.name }}
                </ng-template>
                </ng-select>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 form-group required">
                <ng-select               
                ngSelectMat
                [items]="channelTypeObj"
                placeholder="Channel Type"
                bindLabel="name"
                [clearable]="false"
                [virtualScroll]="true"
                appendTo="body">
                <ng-template ng-option-tmp let-item="item">
                  {{ item.name }}
                </ng-template>
                </ng-select>
            </div>
            <div class="col-lg-4 form-group required">
              <ng-select               
              ngSelectMat
              [items]="regionObj"
              placeholder="Region"
              bindLabel="name"
              [clearable]="false"
              [virtualScroll]="true"
              appendTo="body">
              <ng-template ng-option-tmp let-item="item">
                {{ item.name }}
              </ng-template>
              </ng-select>
          </div>
          <div class="col-lg-4 form-group required">
              <ng-select               
              ngSelectMat
              [items]="marketObj"
              placeholder="Market"
              bindLabel="name"
              [clearable]="false"
              [virtualScroll]="true"
              appendTo="body">
              <ng-template ng-option-tmp let-item="item">
                {{ item.name }}
              </ng-template>
              </ng-select>
          </div>
        </div>
        <div class="row">

            <div class="col-lg-4 form-group required">
                <ng-select               
                ngSelectMat
                [items]="studioObj"
                placeholder="Studio"
                bindLabel="name"
                [clearable]="false"
                [virtualScroll]="true"
                appendTo="body">
                <ng-template ng-option-tmp let-item="item">
                  {{ item.name }}
                </ng-template>
                </ng-select>
            </div>
            <div class="col-lg-4 form-group required">
              <ng-select               
              ngSelectMat
              [items]="pinTypeObj"
              placeholder="PIN Type"
              bindLabel="name"
              [clearable]="false"
              [virtualScroll]="true"
              appendTo="body">
              <ng-template ng-option-tmp let-item="item">
                {{ item.name }}
              </ng-template>
              </ng-select>
          </div>
          <div class="col-lg-4 form-group required">
              <ng-select               
              ngSelectMat
              [items]="gameComplexityObj"
              placeholder="Game Complexity"
              bindLabel="name"
              [clearable]="false"
              [virtualScroll]="true"
              appendTo="body">
              <ng-template ng-option-tmp let-item="item">
                {{ item.name }}
              </ng-template>
              </ng-select>
          </div>
        </div>
    </div>
</form>