  <form *ngIf="extrapindetailsform" action="" [formGroup]="extrapindetailsform" style="padding-left: 2%;padding-right: 2%;padding-bottom: 2%;padding-top:2%;">
    <div class="col-lg-12">
        <div class="row">
            <div class="col-lg-4 form-group">
                  <mat-form-field>
                    <mat-label>
                        PIN
                      <span class="compulsary-mark">*</span>
                      </mat-label>
                    <input
                      type="text"
                      matInput
                      name="name"
                      [disabled]="true"
                      formControlName="id"
                    />
                  </mat-form-field>
              </div>
              <div class="col-lg-4 form-group required">
                  <ng-select               
                  [items]="requeststatusarrobj[0]"
                  placeholder="Request Status *"
                  bindLabel="description2"
                  bindValue="id"
                  [clearable]="false"
                  [virtualScroll]="true"
                  [readonly]="true"
                  appendTo="body"
                  formControlName="requeststatus"
                  (change)="ddlOnChangeEvent($event,'requeststatus')">
                  <ng-template ng-option-tmp let-item="item">
                    {{ item.description2 }}
                  </ng-template>
                  </ng-select>
              </div>
              <div class="col-lg-4 form-group required">
                <ng-select               
                ngSelectMat
                [items]="channelarrobj[0]"
                placeholder="Channel *"
                bindLabel="description2"
                bindValue="id"
                [clearable]="false"
                [virtualScroll]="true"
                appendTo="body"
                formControlName="channelId"
                (change)="ddlOnChangeEvent($event,'channelId')">
                <ng-template ng-option-tmp let-item="item">
                  {{ item.description2 }}
                </ng-template>
                </ng-select>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 form-group required">
                <ng-select               
                ngSelectMat
                [items]="channeltypearrobj[0]"
                placeholder="Channel Type *"
                bindLabel="description2"
                bindValue="id"
                [clearable]="false"
                [virtualScroll]="true"
                appendTo="body"
                formControlName="channeltypeId"
                (change)="ddlOnChangeEvent($event,'channeltypeId')">
                <ng-template ng-option-tmp let-item="item">
                  {{ item.description2 }}
                </ng-template>
                </ng-select>
            </div>
            <div class="col-lg-4 form-group required">
              <ng-select               
              ngSelectMat
              [items]="regionarrobj[0]"
              placeholder="Region *"
              bindLabel="description2"
              bindValue="id"
              [clearable]="false"
              [virtualScroll]="true"
              appendTo="body"
              formControlName="regionId"
              (change)="ddlOnChangeEvent($event,'regionId')">
              <ng-template ng-option-tmp let-item="item">
                {{ item.description2 }}
              </ng-template>
              </ng-select>
          </div>
          <div class="col-lg-4 form-group required">
              <ng-select               
              ngSelectMat
              [items]="marketarrobj[0]"
              placeholder="Market *"
              bindLabel="description2"
              bindValue="id"
              [clearable]="false"
              [virtualScroll]="true"
              appendTo="body"
              formControlName="marketId"
              (change)="ddlOnChangeEvent($event,'marketId')">
              <ng-template ng-option-tmp let-item="item">
                {{ item.description2 }}
              </ng-template>
              </ng-select>
          </div>
        </div>
        <div class="row">

            <div class="col-lg-4 form-group required">
                <ng-select               
                ngSelectMat
                [items]="studioarrobj[0]"
                placeholder="Studio *"
                bindLabel="description2"
                bindValue="id"
                [clearable]="false"
                [virtualScroll]="true"
                appendTo="body"
                formControlName="studioId"
                (change)="ddlOnChangeEvent($event,'studioId')">
                <ng-template ng-option-tmp let-item="item">
                  {{ item.description2 }}
                </ng-template>
                </ng-select>
            </div>
            <div class="col-lg-4 form-group required">
              <ng-select               
              ngSelectMat
              [items]="pintypearrobj[0]"
              placeholder="PIN Type *"
              bindLabel="description2"
              bindValue="id"
              [clearable]="false"
              [virtualScroll]="true"
              appendTo="body"
              formControlName="pintype"
              (change)="ddlOnChangeEvent($event,'pintype')">
              <ng-template ng-option-tmp let-item="item">
                {{ item.description2 }}
              </ng-template>
              </ng-select>
          </div>
          <div class="col-lg-4 form-group required">
              <ng-select               
              ngSelectMat
              [items]="gamecomplexityarrobj[0]"
              placeholder="Game Complexity *"
              bindLabel="description2"
              bindValue="id"
              [clearable]="false"
              [virtualScroll]="true"
              appendTo="body"
              formControlName="gamecomplexityId"
              (change)="ddlOnChangeEvent($event,'gamecomplexityId')">
              <ng-template ng-option-tmp let-item="item">
                {{ item.description2 }}
              </ng-template>
              </ng-select>
          </div>
        </div>
    </div>
</form>
