.app_text {
  background-color: #e50f7c;
  color: white;
  text-align: center;
  font-size: 20px;
  height: 2rem;
  font-weight: bold;
}

.shadow {
  -webkit-box-shadow: 0px 0px 25px 5px rgba(201,187,201,0.75);
  -moz-box-shadow: 0px 0px 25px 5px rgba(201,187,201,0.75);
  box-shadow: 0px 0px 25px 5px rgba(201,187,201,0.75);
}

