.mat-form-field{
    width: 100%;
}
.mat-checkbox{
    padding-top: 2em;
}
:host::ng-deep .mat-form-field {
    .mat-input-element {
        margin-top: 0.9em !important;
    }
}

input, select, textarea, label, ng-select, matInput {
    font-size: 12px;
    }