<header style="position: fixed;width:100%;padding-right: 8%;padding-left: 8%;z-index: 9999;">
    <mat-toolbar class="main-header">
        <div class="col-lg-3">
            <a routerLink="/main/launcher">
                <img c-portalfooter_portalfooter=""
                src="https://qa1-aristocrat.cs117.force.com/CustomerPortal/resource/1611730979000/PortalAssets/Logo/Aristocrat_Gaming_Logo_white.png"
                alt="Aristocrat" class="footerImage">
            </a>
        </div>
        <div class="col-lg-5" style="text-align: center;">
            <img c-portalfooter_portalfooter=""
            src="../../../../assets/images/menu/Top-Banner_Gold-Stacks-88-removebg-preview (2).png"
            alt="Aristocrat" class="headerImage">
        </div>
        <div class="col-lg-3" style="justify-content: right;">
            <div class="form-group">
                <mat-form-field appearance="outline" style="width: 100%;">
                    <span class="material-icons md-24" matPrefix>search</span>
                  <input
                    matInput
                    placeholder="search"
                    name="search"
                    required
                    autocomplete="off"
                  />
                </mat-form-field>
              </div>
        </div>
        <div class="col-lg-1">
            <button mat-icon-button style="float: right;color: white;"><span class="material-icons-round">
                account_circle
                </span></button>
        </div>
    </mat-toolbar>
    <app-main-menu-bar [sidenav]="sidenav"></app-main-menu-bar>
</header>