:host::ng-deep .igx-paginator__select{
    display: none !important;
}


:host {
    ::ng-deep {
        .igx-grid__td {
            font-size: 0.7rem;
            min-height: 0.8rem;
		}
	}
}

:host::ng-deep .igx-page-size{
    display: none !important;
}

:host::ng-deep .igx-column-actions__buttons{
    display: none !important;
  }

  :host::ng-deep .igx-icon {
    display: block !important;
  }

