<div class="grid-container">
  <!-- <h1 class="mat-h1">Extra Pin Request</h1> -->
  <app-rdap-shared-breadcrumb></app-rdap-shared-breadcrumb>
  <mat-card>
    <!-- <mat-card-header>
      <mat-card-title>Extra PIN Request</mat-card-title>
    </mat-card-header>
    <div mat-card-image></div> -->
    <mat-card-content>
      <mat-tab-group class="mat-elevation-z4" style="background-color: #ffff;border-radius: 4px;">
        <mat-tab class="mat-elevation-z4">
          <ng-template mat-tab-label>
            <span class="material-icons-outlined">
              control_point
            </span>
            <span style="padding-left: 10%;">
              PIN Details
            </span>
          </ng-template>
          <app-rdap-extra-pin-request-details *ngIf="!pinId" [pinId]="pinId" (detailsEvent)="detailsEvent($event)">
          </app-rdap-extra-pin-request-details>
          <app-rdap-extra-pin-request-details *ngIf="pinId" [pinId]="pinId" (detailsEvent)="detailsEvent($event)">
          </app-rdap-extra-pin-request-details>
        </mat-tab>

        <mat-tab class="mat-elevation-z4">
          <ng-template mat-tab-label>
            <span class="material-icons-round">
              link
            </span>
            <span style="padding-left: 10%;">
              Linked PIN
            </span>
          </ng-template>
          <app-rdap-extra-pin-request-linked-pin *ngIf="!pinId" [pinId]="pinId"
            (linkedPinEvent)="linkedPinEvent($event)">

          </app-rdap-extra-pin-request-linked-pin>
          <app-rdap-extra-pin-request-linked-pin *ngIf="pinId" [pinId]="pinId"
            (linkedPinEvent)="linkedPinEvent($event)">

          </app-rdap-extra-pin-request-linked-pin>
        </mat-tab>

        <mat-tab class="mat-elevation-z4">
          <ng-template mat-tab-label>
            <span class="material-icons-round">
              sports_esports
            </span>
            <span style="padding-left: 10%;">
              Game Title
            </span>
          </ng-template>
          <app-rdap-extra-pin-request-game-title [actionflag]="actionFlag" [pinId]="pinId"
           (gametitleEvent)="gametitleEvent($event)"
          (gametitleBusJustEvent)="gametitleBusJustEvent($event)">
          </app-rdap-extra-pin-request-game-title>
        </mat-tab>

        <mat-tab class="mat-elevation-z4">
          <ng-template mat-tab-label>
            <span class="material-icons-round">
              manage_accounts
            </span>
            <span style="padding-left: 10%;">
              Cabinet Type
            </span>
          </ng-template>
          <app-rdap-extra-pin-request-cabinet-type *ngIf="!pinId" [pinId]="pinId"
            (cabinetEvent)="cabinetEvent($event)">

          </app-rdap-extra-pin-request-cabinet-type>
          <app-rdap-extra-pin-request-cabinet-type *ngIf="pinId" [pinId]="pinId"
            (cabinetEvent)="cabinetEvent($event)">

          </app-rdap-extra-pin-request-cabinet-type>

          <!-- <app-rdap-extra-pin-request-cabinet-type></app-rdap-extra-pin-request-cabinet-type> -->
        </mat-tab>

        <!-- <mat-tab class="mat-elevation-z4" *ngIf="actionFlag == 'V'">
          <ng-template mat-tab-label >
            <span class="material-icons-round">
              account_tree
            </span>
            <span (click)="workflowtabclick()" style="padding-left: 10%;">
              Workflow
            </span>
          </ng-template>
          <div class="col-lg-12" style="padding-left: 2%;padding-right:2%">
           
              <div style="padding-left: 2%;padding-right: 2%;min-height: 300px;padding-bottom: 2%;padding-top:2%;" id="flowsDiv" class="flowContainer"></div>
          </div>
        </mat-tab> -->
      </mat-tab-group>
    </mat-card-content>
    <mat-card-actions style="text-align:left;">
      <button mat-raised-button  [disabled]="disableFlag" style="width: 25%;background-color: #300c46;color:white"
       (click)="extraPinReqSubmit()" *ngIf="actionFlag == 'A'">Extra PIN Request</button>
      <button mat-raised-button style="width: 10%;background-color: #300c46;color:white"
      (click)="cancel()">Back</button>
    </mat-card-actions>
  </mat-card>
  <igx-dialog #alert title="Extra PIN Request" message="{{message}}" leftButtonLabel="OK" 
  (leftButtonSelect)="onDialogSubmit($event)"></igx-dialog> 
</div>