<form *ngIf="productform" [formGroup]="productform"
  style="padding-left: 2%;padding-right: 2%;max-height: 600px; padding-bottom: 0%;padding-top:0%;">
  <mat-card-content>
    <div class="row">
      <div class="col-lg-3 form-group">
        <mat-form-field>
          <label>
            Plan Item
          </label>
          <input type="text" matInput name="name" [attr.disabled]="disabled" formControlName="planitem" />
        </mat-form-field>
      </div>
      <div class="col-lg-3 form-group">
        <ng-select ngSelectMat [disabled]="true" [items]="versionarrobj[0]" placeholder="Version" bindLabel="description" bindValue="id"
          [clearable]="false" [virtualScroll]="true" appendTo="body" formControlName="versionId"
          (change)="ddlOnChangeEvent($event)"
          class="custom-class">
          <ng-template ng-option-tmp let-item="item">
            {{  item.description }}
          </ng-template>
        </ng-select>
      </div>
      <div class="col-lg-3 form-group">
        <ng-select               
        ngSelectMat
        [items]="channelarrobj[0]"
        placeholder="Channel"
        bindLabel="description"
        bindValue="id"
        [clearable]="false"
        [virtualScroll]="true"
        appendTo="body"
        formControlName="channelId"
        (change)="ddlOnChangeEvent($event,'channelId')">
        <ng-template ng-option-tmp let-item="item">
          {{  item.description }}
        </ng-template>
        </ng-select>
    </div>
    <div class="col-lg-3 form-group">
      <ng-select               
      ngSelectMat
      [items]="channeltypearrobj[0]"
      placeholder="Channel Type"
      bindLabel="description"
      bindValue="id"
      [clearable]="false"
      [virtualScroll]="true"
      appendTo="body"
      formControlName="channeltypeId"
      (change)="ddlOnChangeEvent($event)">
      <ng-template ng-option-tmp let-item="item">
        {{  item.description }}
      </ng-template>
      </ng-select>
  </div>
  </div>
  <div class="row">
    <div class="col-lg-3 form-group">
      <ng-select               
      ngSelectMat
      [items]="regionarrobj[0]"
      placeholder="Region"
      bindLabel="description"
      bindValue="id"
      [clearable]="false"
      [virtualScroll]="true"
      appendTo="body"
      formControlName="regionId"
      (change)="ddlOnChangeEvent($event,'regionId')">
      <ng-template ng-option-tmp let-item="item">
        {{  item.description }}
      </ng-template>
      </ng-select>
  </div>
  <div class="col-lg-3 form-group">
    <ng-select ngSelectMat [items]="marketarrobj[0]" placeholder="Market" bindLabel="description" bindValue="id"
    [clearable]="false" [virtualScroll]="true" appendTo="body" formControlName="marketId"
    (change)="ddlOnChangeEvent($event)">
    <ng-template ng-option-tmp let-item="item">
      {{  item.description }}
    </ng-template>
  </ng-select>
</div>
<!-- <div class="col-lg-3 form-group" style="display: none;">
  <ng-select               
  [items]="fyarrobj"
  placeholder="FY"
  bindLabel="description"
  bindValue="id"
  [clearable]="false"
  [virtualScroll]="true"
  appendTo="body"
  formControlName="financialyearId"
  (change)="ddlOnChangeEvent($event)">
  <ng-template ng-option-tmp let-item="item">
    {{ item.description }}
  </ng-template>
  </ng-select>
</div>
<div class="col-lg-3 form-group" style="display: none;">
  <ng-select               
  [items]="quarterarrobj"
  placeholder="Quarter"
  bindLabel="description"
  bindValue="id"
  [clearable]="false"
  [virtualScroll]="true"
  appendTo="body"
  formControlName="quarterId"
  (change)="ddlOnChangeEvent($event)">
  <ng-template ng-option-tmp let-item="item">
    {{ item.description }}
  </ng-template>
  </ng-select>
</div> -->
<div class="col-lg-3 form-group">
  <ng-select               
  ngSelectMat
  [items]="gamecomplexityarrobj[0]"
  placeholder="Game Complexity"
  bindLabel="description"
  bindValue="id"
  [clearable]="false"
  [virtualScroll]="true"
  appendTo="body"
  formControlName="gamecomplexityId"
  (change)="ddlOnChangeEvent($event)">
  <ng-template ng-option-tmp let-item="item">
    {{  item.description }}
  </ng-template>
  </ng-select>
</div>
<div class="col-lg-3 form-group">
  <ng-select ngSelectMat [items]="studioarrobj[0]" placeholder="Studio" bindLabel="description" bindValue="id"
    [clearable]="false" [virtualScroll]="true" appendTo="body" formControlName="studioId"
    (change)="ddlOnChangeEvent($event)">
    <ng-template ng-option-tmp let-item="item">
      {{  item.description }}
    </ng-template>
  </ng-select>
</div>
  </div>
<div class="row">
      <div class="col-lg-3 form-group">
        <ng-select ngSelectMat [items]="devtypearrobj[0]" placeholder="Dev Class" bindLabel="description" bindValue="id"
          [clearable]="false" [virtualScroll]="true" appendTo="body" formControlName="devtype2Id"
          (change)="ddlOnChangeEvent($event)">
          <ng-template ng-option-tmp let-item="item">
            {{  item.description }}
          </ng-template>
        </ng-select>
      </div>
      <div class="col-lg-3 form-group">
        <mat-form-field style="width: 100%;">
          <label>description</label>
          <input
          type="text"
          matInput
          name="name"
          formControlName="description"
          (blur)="ddlOnChangeEvent($event)"
        />
         
        </mat-form-field>
      </div>
      <div class="col-lg-3 form-group">
        <ng-select ngSelectMat [items]="titlearrobj[0]" placeholder="Title" bindLabel="description" bindValue="id"
          [clearable]="false" [virtualScroll]="true" appendTo="body" formControlName="titleId"
          (change)="ddlOnChangeEvent($event)">
          <ng-template ng-option-tmp let-item="item">
            {{  item.description }}
          </ng-template>
        </ng-select>
      </div>
      <div class="col-lg-3 form-group">
        <ng-select ngSelectMat [items]="themearrobj[0]" placeholder="Theme" bindLabel="description" bindValue="id"
          [clearable]="false" [virtualScroll]="true" appendTo="body" formControlName="themeId"
          (change)="ddlOnChangeEvent($event)">
          <ng-template ng-option-tmp let-item="item">
            {{  item.description }}
          </ng-template>
        </ng-select>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3 form-group">
        <ng-select ngSelectMat [items]="platformarrobj[0]" placeholder="Platform" bindLabel="description" bindValue="id"
          [clearable]="false" [virtualScroll]="true" appendTo="body" formControlName="platform2Id"
          (change)="ddlOnChangeEvent($event)">
          <ng-template ng-option-tmp let-item="item">
            {{  item.description }}
          </ng-template>
        </ng-select>
      </div>
      <div class="col-lg-3 form-group">
        <ng-select ngSelectMat [items]="prodcatarrobj[0]" placeholder="Product Category" bindLabel="description" bindValue="id"
          [clearable]="false" [virtualScroll]="true" appendTo="body" formControlName="prodcat3Id"
          (change)="ddlOnChangeEvent($event)">
          <ng-template ng-option-tmp let-item="item">
            {{  item.description }}
          </ng-template>
        </ng-select>
      </div>
      <div class="col-lg-3 form-group">
        <ng-select ngSelectMat [items]="sequencearrobj[0]" placeholder="Sequence" bindLabel="description" bindValue="id"
          [clearable]="false" [virtualScroll]="true" appendTo="body" formControlName="sequenceId"
          (change)="ddlOnChangeEvent($event)">
          <ng-template ng-option-tmp let-item="item">
            {{  item.description }}
          </ng-template>
        </ng-select>
      </div>
      <div class="col-lg-3 form-group">
        <ng-select ngSelectMat [items]="prodcutbasketarrobj[0]" placeholder="Product Basket" bindLabel="description"
          bindValue="id" [clearable]="false" [virtualScroll]="true" appendTo="body" formControlName="productbasketId"
          (change)="ddlOnChangeEvent($event)">
          <ng-template ng-option-tmp let-item="item">
            {{  item.description }}
          </ng-template>
        </ng-select>
      </div>
    </div>
    <div class="row" style="height: 175px !important;">
      <div class="col-lg-3">
        <div class="row">
          <div class="col-lg-6 form-group">
            <ng-select ngSelectMat [items]="videostepperarrobj[0]" placeholder="Video/Stepper" bindLabel="description"
              bindValue="id" [clearable]="false" [virtualScroll]="true" appendTo="body" formControlName="vidstepId"
              (change)="ddlOnChangeEvent($event)">
              <ng-template ng-option-tmp let-item="item">
                {{  item.description }}
              </ng-template>
            </ng-select>
          </div>
          <div class="col-lg-6 form-group">
            <mat-form-field>
              <label>Project Ref</label>
              <input
              type="text"
              matInput
              name="name"
              formControlName="projectref"
              (change)="ddlOnChangeEvent($event,'projectref')"
            />             
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6 form-group">
            <ng-select ngSelectMat [items]="tierarrobj[0]" placeholder="Tier" bindLabel="description" bindValue="id"
              [clearable]="false" [virtualScroll]="true" appendTo="body" formControlName="levelId"
              (change)="ddlOnChangeEvent($event)">
              <ng-template ng-option-tmp let-item="item">
                {{  item.description }}
              </ng-template>
            </ng-select>
          </div>
          <div class="col-lg-6 form-group">
            <ng-select ngSelectMat [items]="priorityarrobj[0]" placeholder="Priority" bindLabel="description" bindValue="id"
              [clearable]="false" [virtualScroll]="true" appendTo="body" formControlName="priorityId"
              (change)="ddlOnChangeEvent($event)">
              <ng-template ng-option-tmp let-item="item">
                {{  item.description }}
              </ng-template>
            </ng-select>
          </div>
          <div class="col-lg-6 form-group">
            <ng-select ngSelectMat [items]="showarrobj[0]" placeholder="Show" bindLabel="description" bindValue="id"
              [clearable]="false" [virtualScroll]="true" appendTo="body" formControlName="showId"
              (change)="ddlOnChangeEvent($event)">
              <ng-template ng-option-tmp let-item="item">
                {{  item.description }}
              </ng-template>
            </ng-select>
          </div>
          <div class="col-lg-6 form-group">
            <mat-form-field>
              <label>
                Revenue
              </label>
              <!-- <input type="text" matInput name="name" formControlName="revenue" />
              <span style="color:red" *ngIf="(
                productform.get('revenue').hasError('pattern') &&
                productform.get('revenue').touched)">Invalid input.</span> -->
                <input type="text" maxlength="18" (change)="ddlOnChangeEvent($event)" appBlockCopyPaste matInput (keypress)="numberOnly($event)" name="name" formControlName="revenue" />
                <span style="color:red" *ngIf="(
                productform.get('revenue').hasError('pattern') &&
                productform.get('revenue').touched)">Only 2 digit accepted after decimal point</span>
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="row">
          <div class="col-lg-12 form-group">
            <ng-select ngSelectMat [items]="riskarrobj[0]" placeholder="Risk" bindLabel="description"
              bindValue="id" [clearable]="false" [virtualScroll]="true" appendTo="body" formControlName="riskId"
              (change)="ddlOnChangeEvent($event)">
              <ng-template ng-option-tmp let-item="item">
               
                {{  item.description }}
              </ng-template>
            </ng-select>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12 form-group">
            <ng-select ngSelectMat [items]="statusarrobj[0]" placeholder="Status" bindLabel="description"
              bindValue="id" [clearable]="false" [virtualScroll]="true" appendTo="body" formControlName="status3Id"
              (change)="ddlOnChangeEvent($event)">
              <ng-template ng-option-tmp let-item="item">
                {{  item.description }}
              </ng-template>
            </ng-select>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6 form-group">
            <mat-form-field>
              <label>
                QA Cycle
              </label>
              <input type="text" (change)="ddlOnChangeEvent($event)" maxlength="10"  appBlockCopyPaste  (keypress)="numberOnlyQA($event)" matInput name="name" formControlName="cvlIts" />
            </mat-form-field>
          </div>
          <div class="col-lg-6 form-group">
            <mat-form-field>
              <label>
                ATF Returns
              </label>
              <input type="text" maxlength="19"  (change)="ddlOnChangeEvent($event)" appBlockCopyPaste matInput (keypress)="numberOnly($event)" name="name" formControlName="eqUnits" />
              <span style="color:red" *ngIf="(
                productform.get('eqUnits').hasError('pattern') &&
                productform.get('eqUnits').touched)">Only 1 digit accepted after decimal point</span>
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="row">
          <div class="col-lg-6 form-group">
            <ng-select ngSelectMat [items]="epprefarrobj[0]" placeholder="Epp Ref" bindLabel="description" bindValue="id"
              [clearable]="false" [virtualScroll]="true" appendTo="body" formControlName="eppRefId"
              (change)="ddlOnChangeEvent($event)">
              <ng-template ng-option-tmp let-item="item">
                {{  item.description }}
              </ng-template>
            </ng-select>
          </div>
          <div class="col-lg-6 form-group">
            <ng-select ngSelectMat [items]="denomarrobj[0]" placeholder="Denom" bindLabel="description" bindValue="id"
              [clearable]="false" [virtualScroll]="true" appendTo="body" formControlName="denomId"
              (change)="ddlOnChangeEvent($event)">
              <ng-template ng-option-tmp let-item="item">
                {{  item.description }}
              </ng-template>
            </ng-select>
          </div>
          </div>
          <div class="row">
            <div class="col-lg-12 form-group">
              <mat-form-field>
                <label>
                  Programno
                </label>
                <input type="text" matInput name="name" formControlName="programno" />
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12 form-group">
              <ng-select ngSelectMat [items]="complexityarrobj" placeholder="Complexity & Bucket Flag" bindLabel="description" bindValue="id"
              [clearable]="false" [virtualScroll]="true" appendTo="body" formControlName="cvlPriorityId"
              (change)="ddlOnChangeEvent($event)">
              <ng-template ng-option-tmp let-item="item">
                {{  item.description  }}
              </ng-template>
            </ng-select>
            </div>
            <!-- <div class="col-lg-6 form-group">
              <mat-form-field>
                <label>
                  Complexity & Bucket Flag
                </label>
                <input type="text" matInput name="name"/>
              </mat-form-field>
            </div> -->
            </div>
      </div>
      <div class="col-lg-3">
        <div class="row">
          <div class="col-lg-12 form-group">
            <ng-select ngSelectMat [items]="rootcausearrobj" placeholder="Root Cause" bindLabel="description"
              bindValue="id" [clearable]="false" [virtualScroll]="true" appendTo="body" formControlName="viridianlaunchId"
              (change)="ddlOnChangeEvent($event)">
              <ng-template ng-option-tmp let-item="item">
                {{  item.description }}
              </ng-template>
            </ng-select>
          </div>
        </div>
        <div class="row">
          <mat-form-field style="width: 100%;">
            <label>Root Cause Notes:</label>
            <textarea matInput formControlName="releaseNotes" (blur)="ddlOnChangeEvent($event)"></textarea>
          </mat-form-field>
        </div>
        <div class="row">
          <mat-form-field>
            <label>
              Priority Rank Mkt :
            </label>
            <input type="text" matInput name="name" formControlName="marketPriority" (blur)="ddlOnChangeEvent($event)" />
          </mat-form-field>
        </div>
      </div>
    </div>
    
    <div class="row">
      <div class="col-lg-2 form-group">
        <mat-form-field>
          <label>
              Unit Forecast
            </label>
          <input
            type="text"
            matInput
            name="name"
            formControlName="unitsforecast"
            (blur)="ddlOnChangeEvent($event)"
            maxlength="18"  appBlockCopyPaste  (keypress)="numberOnlyQA($event)"
          />
        </mat-form-field>
    </div>
    <div class="col-lg-2 form-group">
        <ng-select               
        [items]="currencyarrobj[0]"
        placeholder="Revenue Currency"
        bindLabel="description"
        bindValue="id"
        [clearable]="false"
        [virtualScroll]="true"
        appendTo="body"
        formControlName="revenuecurrency"
        (change)="ddlOnChangeEvent($event)">
        <ng-template ng-option-tmp let-item="item">
          {{  item.description }}
        </ng-template>
        </ng-select>
    </div>
    <div class="col-lg-2">
      <mat-form-field>
        <label>
          Revenue Forecast
          </label>
        <input
          type="text"
          matInput
          name="name"
          formControlName="revenueforecast"
          (blur)="ddlOnChangeEvent($event)"
          maxlength="18"  appBlockCopyPaste  (keypress)="numberOnly($event)"
        />
      </mat-form-field>
  </div>
  <div class="col-lg-3">
    <mat-form-field>
      <!-- <label>Change Control Notes</label> -->
      <textarea matInput formControlName="notesCc"
      placeholder="Change Control Notes"
      (blur)="ddlOnChangeEvent($event)"></textarea>
    </mat-form-field>
  </div>
  <div class="col-lg-3">
    <mat-form-field>
      <!-- <label>Audit Trail Notes</label> -->
      <textarea matInput formControlName="auditTrail" 
      placeholder="Audit Trail Notes"
      (blur)="ddlOnChangeEvent($event)"></textarea>
    </mat-form-field>
  </div>
    </div>
    <div class="row">
      <div class="col-lg-4">
        <mat-form-field >
          <!-- <label>Notes Short</label> -->
          <textarea matInput 
          placeholder="Notes Short"
          formControlName="notesShort" (blur)="ddlOnChangeEvent($event)"></textarea>
        </mat-form-field>
      </div>
      <div class="col-lg-4 ">
        <mat-form-field >
          <!-- <label>Notes Long</label> -->
          <textarea matInput
          placeholder="Notes Long"
          formControlName="notesLong" (blur)="ddlOnChangeEvent($event)"></textarea>
        </mat-form-field>
      </div>
      <div class="col-lg-4 form-group">
        <mat-form-field style="width: 100%;">
          <!-- <label>Priority Notes</label> -->
          <textarea matInput 
         placeholder="Priority Notes" formControlName="archType" (blur)="ddlOnChangeEvent($event)"></textarea>
        </mat-form-field>
    </div>
      </div>
  </mat-card-content>
  <!-- <mat-card-actions style="text-align:left;">
    <button mat-raised-button style="width: 10%;background-color: #300c46;color:white"
    >Submit</button>
   <button mat-raised-button style="width: 10%;background-color: #300c46;color:white"
   >Back</button>
</mat-card-actions> -->
  <!-- <div class="row" style="padding-top: 10px;">
    <div class="col-lg-1">
      <button mat-raised-button style="text-align: center; font-size:12px;width:-1%;background-color: #300c46;color:white"
      >Submit</button>
    </div>
    <div class="col-lg-1">
      <button mat-raised-button style="font-size:12px;width: 10%;background-color: #300c46;color:white"
      >Back</button>
    </div>
  </div> -->
</form>
<igx-dialog #decimalalert title="Manage PIN" message="{{message}}" leftButtonLabel="OK" 
(leftButtonSelect)="onDialogSubmit($event)"></igx-dialog>