<form [formGroup]="cabinettypeform" style="padding-left: 2%;padding-right: 2%;min-height: 300px;padding-bottom: 2%;padding-top:2%;">
    <div class="col-lg-12">
      <div class="row">
        <div class="col-lg-4 form-group">
              <mat-form-field>
                <mat-label>
                    PIN
                  <span class="compulsary-mark">*</span>
                  </mat-label>
                <input
                  type="text"
                  matInput
                  name="name"
                  [disabled]="true"
                  formControlName="id"
                />
              </mat-form-field>
          </div>
      </div>
        <div class="row" *ngIf="cabinetDdldata.length>0">
          <igx-grid #cabinetgrid id="cabinetgrid" [primaryKey]="'id'" 
            [data]="data" width="100%" [rowEditable]="true"
            [rowSelection]="'multiple'" 
            [allowFiltering]="false"
            (toolbarExporting)="configureExport($event)"
            (rowSelected)="handleRowSelection($event)"
             igxOverlayOutlet [autoGenerate]="false"
             (rendered)="rendered()">
             <igx-column [width]="'400px'" field="description" header="Description" [dataType]="'string'" [hidden]="false">
            </igx-column>
            <igx-column [width]="'400px'" field="description2" header="Description" [dataType]="'string'" [hidden]="true">
            </igx-column>
            <igx-column [width]="'400px'" field="id" header="Description" [dataType]="'string'" [hidden]="true">
            </igx-column>
            </igx-grid>
        </div>
    </div>
</form>
