<mat-card style="margin-bottom:2%;">
    <mat-card-content>
        <form *ngIf="searchform" action="" [formGroup]="searchform" (ngSubmit)="submit()">
            <mat-tab-group class="mat-elevation-z4" style="background-color: #ffff;border-radius: 4px;">
                <mat-tab class="mat-elevation-z4"  style="overflow:hidden !important;">
                    <ng-template mat-tab-label>
                        <span class="material-icons-outlined">
                            control_point
                        </span>
                        <span>
                            Basic Details
                        </span>
                    </ng-template>
                    <div style="padding-left: 2%;padding-right: 2%;padding-bottom: 2%;padding-top:2%;">
                        <div class="col-lg-12">
                            <div class="row">
                                <mat-label  style="position: relative;left:96%;z-index:999999999;height: 0px;
                                top: -1rem;">
                                    <span class="material-icons-outlined">
                                        visibility
                                    </span>
                                </mat-label>
                                <div class="col-lg-4 form-group" *ngFor="let item of formdata;">
                                    <mat-form-field *ngIf="item.type =='text'">
                                        <mat-label>
                                            {{item.label}}
                                            <span class="compulsary-mark" *ngIf="item.required">*</span>
                                        </mat-label>
                                        <input id='{{item.controlname}}' type="text" matInput
                                            name='{{item.controlname}}' formControlName="{{item.formcontrolname}}"
                                             />
                                        <mat-error *ngIf="checkError(item.formcontrolname, item.required)">
                                            {{item.label}} required</mat-error>
                                        <mat-error *ngIf="checkError(item.formcontrolname, 'pattern')">
                                            {{item.label}} should be a {{item.fieldtype}}.</mat-error> 
                                        <mat-error *ngIf="checkError(item.formcontrolname, 'maxlength')">
                                            {{item.label}} can be max {{searchform.controls[item.formcontrolname].errors?.maxlength?.requiredLength}} characters long.</mat-error>         
                                    </mat-form-field>
                                    <mat-form-field *ngIf="item.type =='textarea'">
                                        <mat-label>
                                            {{item.label}}
                                            <span class="compulsary-mark"></span>
                                        </mat-label>
                                        <textarea id='{{item.controlname}}' matInput cdkTextareaAutosize
                                            #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1"
                                            cdkAutosizeMaxRows="5" name="{{item.controlname}}"
                                            formControlName="{{item.formcontrolname}}"
                                            placeholder="{{item.placeholder}}"></textarea>
                                        <mat-error *ngIf="checkError(item.formcontrolname, item.required)">
                                            {{item.label}} required</mat-error>
                                    </mat-form-field>
                                    <ng-select id='{{item.controlname}}'
                                        *ngIf="item.type =='select' && item.required == 'required'"
                                        [items]="item.apidata" placeholder="{{item.placeholder}}*"
                                        bindLabel="{{item.bindname}}" bindValue="{{item.bindvalue}}"
                                        formControlName="{{item.formcontrolname}}" [clearable]="item.clearable"
                                        [virtualScroll]="item.virtualScroll" [multiple]="item.multiple" appendTo="body"
                                        required>
                                        <ng-template ng-option-tmp let-item="item">
                                            {{item.description}}
                                        </ng-template>
                                    </ng-select>
                                    <ng-select id='{{item.controlname}}'
                                        *ngIf="item.type =='select' && item.required == null" [items]="item.apidata"
                                        placeholder="{{item.placeholder}}" bindLabel="{{item.bindname}}"
                                        bindValue="{{item.bindvalue}}" formControlName="{{item.formcontrolname}}"
                                        [clearable]="item.clearable" [virtualScroll]="item.virtualScroll"
                                        [multiple]="item.multiple" appendTo="body">
                                        <ng-template ng-option-tmp let-item="item">
                                            {{item.description}}
                                        </ng-template>
                                    </ng-select>
                                    <mat-checkbox formControlName="{{item.formcontrolname}}" 
                                    id='{{item.controlname}}'
                                        *ngIf="item.type =='checkbox'" labelPosition="after">
                                        {{item.label}}
                                    </mat-checkbox>
                                    <mat-form-field *ngIf="item.type =='date'" >
                                        <mat-label>{{item.label}}</mat-label>
                                        <input matInput 
                                        [matDatepicker]="picker" 
                                        formControlName="{{item.formcontrolname}}"
                                        appendTo="body">
                                        <mat-datepicker-toggle matSuffix [for]="picker" ></mat-datepicker-toggle>
                                        <mat-datepicker #picker></mat-datepicker>
                                      </mat-form-field>
                                    <label style="background-color: rgb(161, 161, 161);color: rgb(0, 0, 0);"
                                        id='{{item.innercontrol[0].controlname}}'
                                        *ngIf="item.innercontrol && item.innercontrol[0].type =='label'">
                                        {{item.innercontrol[0].label}}</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </mat-tab>
                <div *ngFor="let rowitem of formdata;">
                    <mat-tab class="mat-elevation-z4" *ngIf="rowitem.type =='grid'">
                        <ng-template mat-tab-label>
                            <span class="material-icons-outlined">
                                note_add
                            </span>
                            <span>
                                {{rowitem.label}}
                            </span>
                        </ng-template>
                        <app-rdap-shared-config-dynamic-igx-grid 
                        *ngIf="transactionFlag=='A'"
                        [commongridmodel]="commongridmodel" 
                        [rowitem]="rowitem"
                        [griddata]="data"
                        [mode]="transactionFlag"
                        (commongridmodelrow)="commongridmodelFun($event)">
                            
                        </app-rdap-shared-config-dynamic-igx-grid>
                        <app-rdap-shared-config-dynamic-igx-grid 
                        *ngIf="(transactionFlag=='V' || transactionFlag=='U') && data.isSuccess"
                        [commongridmodel]="commongridmodel" 
                        [rowitem]="rowitem"
                        [griddata]="data"
                        [mode]="transactionFlag"
                        (commongridmodelrow)="commongridmodelFun($event)">
                            
                        </app-rdap-shared-config-dynamic-igx-grid>
                    </mat-tab>
                </div>
            </mat-tab-group>
        </form>
    </mat-card-content>
    <mat-card-actions style="text-align: left;" *ngIf="searchform && transactionFlag=='A'">
        <button mat-raised-button (click)="submit()" [disabled]="!searchform.valid"
            [ngClass]="{'errorbtn':!searchform.valid, 'successbtn': searchform.valid}"
            *ngIf="((transactionFlag=='A') && pagePermission[0].isAdd == true)">Save</button>
        <button mat-raised-button style="width: 10%;background-color: #300c46;color:white"
            (click)="cancel()">Back</button>
    </mat-card-actions>
    <mat-card-actions style="text-align: left;" *ngIf="searchform && transactionFlag=='U'">
               <button mat-raised-button style="width: 10%;background-color: #300c46;color:white"
            (click)="cancel()">Back</button>
        <button mat-raised-button style="width: 20%;background-color: #300c46;color:white"
        *ngIf = "pagePermission && pagePermission[0].isAdd == true"
         (click)="addNewRecord()">Add New Record</button>
    </mat-card-actions>
    <mat-card-actions style="text-align: left;" *ngIf="searchform && transactionFlag=='V'">
        <button mat-raised-button (click)="submit()" [disabled]="!searchform.valid"
            [ngClass]="{'errorbtn':!searchform.valid, 'successbtn': searchform.valid}"
            *ngIf="((transactionFlag=='V') && pagePermission && pagePermission[0].isEdit == true)">Save</button>
        <button mat-raised-button style="width: 10%;background-color: #300c46;color:white"
            (click)="cancel()">Back</button>
        <button mat-raised-button style="width: 10%;background-color: #300c46;color:white" 
        *ngIf="transactionFlag=='V' && pagePermission && pagePermission[0].isDelete == true"
            (click)="delete()">Delete</button>
    </mat-card-actions>
</mat-card>
<igx-dialog #alert title="" message="{{message}}" leftButtonLabel="OK" 
(leftButtonSelect)="onDialogSubmit($event)"></igx-dialog> 