<mat-accordion>
    <mat-expansion-panel [expanded]="true" (opened)="panelOpenState = true"
    (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
        <mat-panel-title style="font-weight:410;font-size: 14px;">
        Search Filter
        </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-card>
        <mat-card-content>
                <form *ngIf="searchform" action="" [formGroup]="searchform">
                    <div class="row">
                        <div class="col-lg-3 form-group" *ngFor="let item of formdata;">
                            <div *ngIf="(item.type =='text') || (item.type =='textarea')">
                                <label>{{item.label}}</label>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <!-- <span class="input-group-text" id="basic-addon1">@</span> -->
                                        <select class="form-control input-group-text" formControlName="{{item.searchcriteria.formcontrolname}}">
                                            <option  style="text-align: center;" value="{{opitem.id}}" *ngFor="let opitem of stringSearchCriteria;">{{opitem.value}}</option>
                                        </select>
                                    </div>
                                    <input formControlName="{{item.formcontrolname}}" type="text" class="form-control"
                                        placeholder="{{item.placeholder}}" aria-label="{{placeholder}}" aria-describedby="basic-addon1">
                                </div>
                            </div>
                            <div *ngIf="(item.type =='number')">
                                <label>{{item.label}}</label>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <!-- <span class="input-group-text" id="basic-addon1">@</span> -->
                                        <select class="form-control input-group-text" formControlName="{{item.searchcriteria.formcontrolname}}">
                                            <option  style="text-align: center;" value="{{opitem.id}}" *ngFor="let opitem of numberSearchCriteria;">{{opitem.value}}</option>
                                        </select>
                                    </div>
                                    <input formControlName="{{item.formcontrolname}}" type="text" class="form-control"
                                        placeholder="{{item.placeholder}}" aria-label="{{placeholder}}" aria-describedby="basic-addon1">
                                </div>
                            </div>
                            <div *ngIf="item.type =='select'">
                                <label>{{item.label}}</label>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <select class="form-control input-group-text" formControlName="{{item.searchcriteria.formcontrolname}}">
                                        <option  style="text-align: center;" value="{{opitem.id}}" *ngFor="let opitem of stringSearchCriteria;">{{opitem.value}}</option>
                                    </select>
                                </div>
                                <select class="form-control" formControlName="{{item.formcontrolname}}">
                                  <option value="" hidden selected><span style="color: rgb(199, 199, 199);">{{item.placeholder}}</span></option>
                                  <option value="{{opitem.description}}" *ngFor="let opitem of  item.apidata;">{{opitem.description}}</option>
                                </select>
                              </div>
                            </div>
                        </div>
                    </div>
                </form>
        </mat-card-content>
        <mat-card-actions style="text-align: left;" *ngIf="searchform">
            <button mat-raised-button style="width: 10%;background-color: #300c46;color:white" (click)="submit()"
                [disabled]="!searchform.valid"
                [ngClass]="{'errorbtn':!searchform.valid, 'successbtn': searchform.valid}">Search</button>
            <button mat-raised-button style="width: 10%;background-color: #300c46;color:white"
            (click)="reset()">Reset</button>
        </mat-card-actions>
    </mat-card>
</mat-expansion-panel>
</mat-accordion>
<mat-card *ngIf="searchGridData" style="margin-top: 2%;">
    <mat-card-title>
        <span>Search Results</span>
    </mat-card-title>
    <mat-card-content>
        <app-rdap-shared-igx-grid-search-result [exportfilename]="exportfilename" 
        [searchGridData]="searchGridData" [totalCount]="totalCount" [appString]="appString" [pagename]="pagename"
         (onSelGridRowData)="onSelGridRowData($event)"
         >
         <!-- (onPageChangeEvent)="onPageChangeEvent($event)" -->
    </app-rdap-shared-igx-grid-search-result>
    </mat-card-content>
    <mat-card-actions style="text-align: left;">
        <button mat-raised-button style="width: 10%;background-color: #300c46;color:white"
            (click)="viewrecord(route)"  *ngIf="selMasterDetailsData && selMasterDetailsData.newSelection.length > 0 && pagePermission[0].isEdit == true || pagePermission[0].isDelete == true || pagePermission[0].isView == true">Open</button>
        <button mat-raised-button style="width: 10%;background-color: #300c46;color:white"
        (click)="cancel('/home/dashboard')">Back</button>
        <button mat-raised-button style="width: 20%;background-color: #300c46;color:white"
           *ngIf="pagePermission[0].isAdd == true" (click)="addnewrecord(route)">Add New Record</button>
    </mat-card-actions>
</mat-card>
