<div class="row">
        <div c-portalfooter_portalfooter="" class="footerWrap">
            <div c-portalfooter_portalfooter="" class="footerTop"></div>
            <div c-portalfooter_portalfooter="" class="loginBg">
                <div c-portalfooter_portalfooter="" class="container">
                    <div c-portalfooter_portalfooter="" class="slds-align_absolute-center"><a c-portalfooter_portalfooter=""
                            href="https://www.aristocrat.com/privacy/" target="_blank">Privacy Policy</a><span
                            c-portalfooter_portalfooter="" class="footerLinkPipe">&nbsp;|&nbsp;</span><a
                            c-portalfooter_portalfooter="" href="https://theviportal.com/termsofuse" target="_blank">Terms of
                            Use</a><span c-portalfooter_portalfooter="" class="footerLinkPipe">&nbsp;|&nbsp;</span><a
                            c-portalfooter_portalfooter="" href="https://theviportal.com/ip-notice" target="_blank">IP
                            Notice</a></div>
                    <div c-portalfooter_portalfooter="" class="slds-align_absolute-center">
                        <div c-portalfooter_portalfooter=""
                            class="slds-col slds-large-size_1-of-2 slds-medium-size_1-of-2 slds-small-size_1-of-1"
                            style="padding-top: 1.5rem;">
                            <!-- <img c-portalfooter_portalfooter=""
                                src="https://qa1-aristocrat.cs117.force.com/CustomerPortal/resource/1611730979000/PortalAssets/Logo/Aristocrat_Gaming_Logo_white.png"
                                alt="Aristocrat" class="footerImage"> -->
                                <img c-portalfooter_portalfooter=""
                                src="../../../../assets/images/logo/Aristocrat_Gaming_Logo_white.png"
                                alt="Aristocrat" class="footerImage">

                            </div>
                    </div>
                </div>
            </div>
        </div>
</div>