.sidenav_container {
    min-width: 60px; 
    height: calc(100vh - 200px);
    transform: scale(0.84) !important;
  }
  
  .jim {
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 50%;
  }

  .example-container {
    height: 500px;
    border: 1px solid rgba(0, 0, 0, 0.5);
  }
  .example-sidenav-content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
  }
  .example-sidenav {
     user-select: none;
  }
  .full-width {
    width: 100%;
  }
  .menu-button {
    transition: 300ms ease-in-out;
    transform: rotate(0deg);
  }
  .menu-button.rotated {
    transform: rotate(180deg);
  }
  .submenu {
    overflow-y: hidden;
    transition: transform 300ms ease;
    transform: scaleY(0);
    transform-origin: top;
    padding-left: 30px;
  }
  .submenu.expanded {
    transform: scaleY(1);
  }

  :host::ng-deep.mat-expansion-panel{
background-color: #300c46;
color: white;
  }
  :host::ng-deep.mat-expansion-panel-header:not([aria-disabled=true]) {
    color: white;
  }
  :host::ng-deep.mat-expansion-indicator::after{
      color: white;
  }
:host::ng-deep.mat-expansion-indicator{
  display:none;
}

:host::ng-deep .mat-list-base{
  padding-top:0px !important;
}