<div class="col-lg-12 sidenav_container" [@onSideNavChange]="sideNavState ? 'open' : 'close'"
  (click)="onSidenavToggleOver()" (mouseout)="onSidenavToggleOut()" (mouseover)="onSidenavToggleOver()"
  style="transform: scale(0.7);">
      <div *ngFor="let item of pages">
        <mat-expansion-panel *ngIf="item.submenu.length > 0">
          <mat-expansion-panel-header>
            <mat-icon style="padding-right:5px;">{{item?.icon}}</mat-icon>
            <span style="padding-right:5px;"></span>
            <span [@animateText]="linkText ? 'show' : 'hide'">{{ item?.name }} </span>
          </mat-expansion-panel-header>

          <mat-nav-list  *ngFor="let subitem of item.submenu">
            <mat-expansion-panel  *ngIf="subitem.level1.length>0">
                <mat-expansion-panel-header>
                  <mat-icon style="padding-right:5px;">{{subitem?.icon}}</mat-icon>
                  <span style="padding-right:5px;"></span>
                  <span [@animateText]="linkText ? 'show' : 'hide'">{{ subitem?.name }} </span>
                </mat-expansion-panel-header>
                <mat-nav-list  *ngFor="let level1item of subitem.level1">
                  <a mat-list-item *ngIf="level1item.permissionflag == true" (click)="navlistRedirect(level1item.link)"
                    style="color: white;background-color:#300c46;">
                    <mat-icon style="padding-right:5px;color: white;background-color:#300c46;">{{level1item?.icon}}
                    </mat-icon>
                    <span style="padding-right:5px;"></span>
                    <span style="padding-right:5px;color: white;background-color:#300c46;"
                      [@animateText]="linkText ? 'show' : 'hide'">{{ level1item?.name }} </span>
                  </a>
                </mat-nav-list>
            </mat-expansion-panel>
            <mat-nav-list *ngIf="subitem.level1.length==0 && subitem.permissionflag == true"
             style="padding-right:24px">
              <a mat-list-item (click)="navlistRedirect(subitem.link)"
                style="color: white;background-color:#300c46;">
                <mat-icon style="padding-right:5px;color: white;background-color:#300c46;">{{subitem?.icon}}
                </mat-icon>
                <span style="padding-right:5px;"></span>
                <span style="padding-right:5px;color: white;background-color:#300c46;"
                  [@animateText]="linkText ? 'show' : 'hide'">{{ subitem?.name }} </span>
              </a>
            </mat-nav-list>
          </mat-nav-list>
        </mat-expansion-panel>
      </div>
</div>