<form style="padding-left: 2%;padding-right: 2%;min-height: 500px;padding-bottom: 2%;padding-top:2%;">
    <div class="row">
        <div class="grid__wrapper">
            <igx-grid #dependenciesgrid id="dependenciesgrid" [primaryKey]="'pid'" [data]="data" width="100%"
                [rowEditable]="true" igxOverlayOutlet [autoGenerate]="false" (onCellEdit)="editDone($event)"
                (rowAdded)="editDone($event)" (rowEditDone)="rowEditDoneHandler($event)">
                <igx-column [width]="'200px'" field="planitem" header="Plan Item" [dataType]="'string'"
                    [editable]="false">
                </igx-column>
                <igx-column [width]="'200px'" field="planitemDep" header="Plan Item Dependeny" [dataType]="'string'"
                    [editable]="true">
                    <ng-template igxCellEditor let-cell="cell" let-value>
                        <mat-form-field class="example-full-width" appearance="fill">
                            <input type="text"
                                   matInput
                                   [matAutocomplete]="auto">
                            <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                              <mat-option *ngFor="let option of dependencyddldata | async" [value]="option.id">
                                {{option.description}}
                              </mat-option>
                            </mat-autocomplete>
                          </mat-form-field>
                        <!-- <ng-select    
                            #selectdependency           
                            [items]="dependencyddldata"
                            bindLabel="description"
                            bindValue="id"
                            [clearable]="false"
                            [virtualScroll]="true"
                            [multiple]="false"
                            appendTo="body"
                            (search)="startsWithSearchFn($event)"
                            (close)="selectdependency.filterValue = searchTerm"
                            (input)="searchTerm = selectdependency.filterValue"
                            (change)="onchangeSelect($event, cell, data, 'dependencyid')">
                            <ng-template ng-option-tmp let-item="item">
                              {{item.id}} - {{item.description}}
                            </ng-template>
                            </ng-select> -->

                    </ng-template>
                </igx-column>
                <igx-column [width]="'200px'" field="description" header="Description" [dataType]="'string'"
                    [editable]="false">
                </igx-column>
                <igx-column [width]="'200px'" field="descrLong" header="Description Long" [dataType]="'string'"
                    [editable]="false">
                </igx-column>
                <igx-column [width]="'200px'" field="version" header="Version" [dataType]="'string'" [editable]="false">
                </igx-column>
                <igx-column [width]="'200px'" field="market" header="Market" [dataType]="'string'" [editable]="false">
                </igx-column>
                <igx-column [width]="'200px'" field="devtype2" header="Dev Type Class" [dataType]="'string'"
                    [editable]="false">
                </igx-column>
                <igx-column [width]="'200px'" field="studio" header="Studio" [dataType]="'string'" [editable]="false">
                </igx-column>
                <igx-column [width]="'200px'" field="status3" header="Status" [dataType]="'string'" [editable]="false">
                </igx-column>
                <igx-column [width]="'200px'" field="planitemDepDescr" header="Plan Item Dependency Description"
                    [dataType]="'string'" [editable]="false">
                </igx-column>
                <igx-column [width]="'200px'" field="title" header="Title" [dataType]="'string'" [editable]="false">
                </igx-column>
                <igx-column [width]="'200px'" field="theme" header="Theme" [dataType]="'string'" [editable]="false">
                </igx-column>
                <igx-column [width]="'200px'" field="platform" header="Platform" [dataType]="'string'"
                    [editable]="false">
                </igx-column>
                <igx-column [width]="'200px'" field="prodcat3" header="Product Category" [dataType]="'string'"
                    [editable]="false">
                </igx-column>
                <igx-column [width]="'200px'" field="estApprDate" header="Estimate Approval Date" [dataType]="'string'"
                    [editable]="false">
                </igx-column>
                <igx-column [width]="'200px'" field="apprDate" header="Approval Date" [dataType]="'string'"
                    [editable]="false">
                </igx-column>
                <igx-action-strip #actionstrip>
                    <igx-grid-editing-actions [addRow]="true"></igx-grid-editing-actions>
                </igx-action-strip>
            </igx-grid>
        </div>
    </div>
    <!-- <div class="row">
        <app-rdap-shared-igx-grid-search-result [pagename]="pagename" [exportfilename]="exportfilename" 
        [searchGridData]="dependencydata" [appString]="appString">
        </app-rdap-shared-igx-grid-search-result>
    </div> -->
    <!-- <ng-select
                    #selectimpactedpin               
                    [items]="dependencyddldata"
                    placeholder="Dependency PINs"
                    bindValue="planitem"
                    bindLabel="description"
                    [clearable]="false"
                    [virtualScroll]="true"
                    [multiple]="true"
                    appendTo="body">
                    <ng-template ng-option-tmp let-item="item">
                      {{ item.planitem }} - {{ item.description }}
                    </ng-template>
                    </ng-select> -->
    <!-- <igx-input-group class="autocomplete">
                        <input igxInput name="town" type="text"
                        [igxAutocomplete]="dependencyPanel"
                        (blur)="depdencyBlurEvent($event)"
                        [(ngModel)]="townSelected"/>
                    </igx-input-group>
                    <igx-drop-down #dependencyPanel>
                        <igx-drop-down-item *ngFor="let ddlitem of dependencyddldata" [value]="ddlitem">
                            {{ddlitem.planitem}}
                        </igx-drop-down-item>
                    </igx-drop-down> -->
</form>