.ng-select {
    width: 100% !important;
}

.default-theme {
    .addProdBtn.igx-button--raised {
        background-color: lightgrey;
        color: black;
        &:hover {
            background-color: rgba(0, 0, 0, 0.26)
        }
    }
}

.igx-grid-toolbar, .igx-grid-toolbar--cosy, .igx-grid-toolbar--compact{
    min-height:0.625rem !important;
}
  
  