<form style="padding-left: 2%;padding-right: 2%;min-height: 300px;padding-bottom: 2%;padding-top:2%;">
    <div class="row">
        <label>Linked PIN</label>
    </div>
    <div class="row">
        <div class="grid__wrapper">
            <igx-grid #linkedpingrid id="linkedpingrid" primaryKey="linkid" [data]="linkedpindata" width="100%" height="100%" style="min-height: 200px;"
                 igxOverlayOutlet [autoGenerate]="false" (onCellEdit)="editDone($event)"
                (rowAdded)="linkedPinRowAddedDone($event)" (rowEditDone)="editDone($event)">
                <igx-column field="linkid" [header]="'Index'" [hidden]="true">
                    <ng-template igxCell let-cell="cell">
                         {{cell.row.index + 1}}
                    </ng-template>
               </igx-column>
                <igx-column [width]="'125px'" field="planitem" header="Plan Item" [dataType]="'string'"
                    [editable]="false">
                </igx-column>
                <igx-column [width]="'200px'" field="linkedpinno" header="Linked Pin" [dataType]="'string'"
                [editable]="true">
                    <ng-template igxCellEditor let-cell="cell" let-value>
                        <!-- <igx-combo #remoteCombo class="combo" [itemsMaxHeight]="250" [itemsMinWidth]="500"
                        [data]="linkedpinsarrobj" [valueKey]="'id'" [displayKey]="'id'"
                        placeholder="Select Linked Pin(s)" searchPlaceholder="Search..." [filterable]="true"
                        (searchInputUpdate)="searchInputFunction($event)"
                        (selectionChanging)="onchangeSelect($event, cell, data, 'linkedpinno')">
                        <ng-template igxComboItem let-display let-key="valueKey">
                            <div class="item">
                                <span class="id">{{ display[key] }} - </span>
                                <span class="description">{{ display.description }}</span>
                            </div>
                        </ng-template>
                    </igx-combo> -->
                    <!-- ----- CHange on 17.02 ------ -->
                    <ng-select [items]="linkedpinsarrobj"   placeholder="Select Linked Pin"
                    bindLabel="id" bindValue="id"
            [virtualScroll]="true" appendTo="body"  
            (change)="onchangeSelectlinked($event, cell, data, 'linkedpinno')"
            (search)="searchInputFunction($event)"
            
           
           >
           <ng-template ng-option-tmp let-item="item">
             {{ item.id + "-" + item.description + "-" + item.description }}
           </ng-template>
           <ng-template ng-option-tmp let-item="item" let-search="searchTerm" let-index="index">
             <span >  {{ item.id }}</span>
       </ng-template>
         </ng-select>
        </ng-template>
         <!-- ----- CHange on 17.02 ------ -->
               

                        <!-- <ng-select    
                        #selectlinkedpin           
                        [items]="linkedpinsarrobj"
                        bindLabel="description2"
                        bindValue="id"
                        [clearable]="false"
                        [virtualScroll]="true"
                        [multiple]="false"
                        appendTo="body"
                        (change)="onchangeSelect($event, cell, data, 'linkedpinno')">
                        <ng-template ng-option-tmp let-item="item">
                          {{item.id}} - {{item.description2}}
                        </ng-template>
                        </ng-select> -->
                        <!-- <igx-select #select>
                            <igx-select-item *ngFor="let item of linkedpinsarrobj" [value]="item">
                                {{ item.planitem }} - {{ item.description }}
                            </igx-select-item>
                        </igx-select> 
                    </ng-template>-->
                </igx-column>
                <igx-column [width]="'125px'" field="version" header="Version" [dataType]="'string'" [editable]="false">
                </igx-column>
                <igx-column [width]="'125px'" field="market" header="Market" [dataType]="'string'" [editable]="false">
                </igx-column>
                <igx-column [width]="'125px'" field="devtype2" header="Dev Class Type" [dataType]="'string'"
                    [editable]="false"></igx-column>
                <igx-column [width]="'125px'" field="studio" header="Studio" [dataType]="'string'" [editable]="false">
                </igx-column>
                <igx-column [width]="'125px'" field="description" header="Description" [dataType]="'string'"
                    [editable]="false"></igx-column>
                <igx-column [width]="'125px'" field="title" header="Title" [dataType]="'string'" [editable]="false">
                </igx-column>
                <igx-column [width]="'125px'" field="theme" header="Theme" [dataType]="'string'" [editable]="false">
                </igx-column>
                <igx-column [width]="'125px'" field="platform" header="Platform" [dataType]="'string'"
                    [editable]="false"></igx-column>
                <igx-column [width]="'125px'" field="prodcat3" header="Product Category" [dataType]="'string'"
                    [editable]="false"></igx-column>
                <igx-column [width]="'125px'" field="estApprDate" header="Estimate Approved Date" [dataType]="'string'"
                    [editable]="false"></igx-column>
                <igx-column [width]="'125px'" field="apprDate" header="Approved Date" [dataType]="'string'"
                    [editable]="false"></igx-column>
                    <!-- <igx-action-strip #actionstrip>
                        <igx-grid-editing-actions [addRow]="true"></igx-grid-editing-actions>
                    </igx-action-strip> -->
                    <igx-action-strip #actionstrip>
                        <!-- <igx-grid-pinning-actions></igx-grid-pinning-actions> -->
                        <button  *ngIf="mplinkedPermission && mplinkedPermission.isEdit == true"  title="Edit" igxButton="icon" igxRipple (click)='startLinkPinEdit(actionstrip.context)'>
                            <igx-icon>edit</igx-icon>
                        </button>
                        <!-- <button title="Undo All" igxButton="icon" igxRipple>
                            <igx-icon>undo</igx-icon>
                        </button>
                        <button title="Redo All" igxButton="icon" igxRipple>
                            <igx-icon>redo</igx-icon>
                        </button>
                        <button title='Save' igxButton="icon" igxRipple>
                            <igx-icon>save</igx-icon>
                        </button> -->
                        <button  *ngIf="mplinkedPermission && mplinkedPermission.isDelete == true" title="Delete" igxButton="icon" igxRipple (click)="deleteLinkpinrow(actionstrip.context)">
                            <igx-icon>delete</igx-icon>
                        </button>
                        <button  *ngIf="mplinkedPermission && mplinkedPermission.isAdd == true" title="Add New" igxButton="icon" igxRipple (click)='addNewLinkGrid(actionstrip.context)'>
                            <igx-icon>add</igx-icon>
                        </button>
                    </igx-action-strip> 
            </igx-grid>
            <!-- <app-rdap-shared-igx-grid-search-result [pagename]="linkedpinpagename" [exportfilename]="exportfilename" 
    [searchGridData]="linkedpindata" [appString]="appString">
    </app-rdap-shared-igx-grid-search-result> -->
        </div>
    </div>
    <div class="row">
        <label>Impacted PIN</label>
    </div>
    <div class="row">
        <div class="grid__wrapper">
            <igx-grid #impactedpingrid id="impactedpingrid" primaryKey="impid" [data]="impactedpindata" width="100%" height="100%" 
            style="min-height: 200px;"
             igxOverlayOutlet [autoGenerate]="false" (onCellEdit)="editImpactedPinDone($event)"
                (rowAdded)="impactedPinRowAddedDone($event)" (rowEditDone)="editDone($event)">
                <igx-column field="impid" [header]="'Index'" [hidden]="true">
                    <ng-template igxCell let-cell="cell">
                         {{cell.row.index + 1}}
                    </ng-template>
               </igx-column>
                <igx-column [width]="'125px'" field="planitem" header="Plan Item" [dataType]="'string'"
                    [editable]="false">
                </igx-column>
                <igx-column [width]="'200px'" field="impactedpinno" header="Impacted Pin" [dataType]="'string'"
                [editable]="true">
                    <ng-template igxCellEditor let-cell="cell" let-value>
                        <!-- <igx-combo #remoteCombo class="combo" [itemsMaxHeight]="250" [itemsMinWidth]="500"
                        [data]="linkedpinsarrobj" [valueKey]="'id'" [displayKey]="'id'"
                        placeholder="Select Linked Pin(s)" searchPlaceholder="Search..." [filterable]="true"
                        (searchInputUpdate)="searchInputFunction($event)"
                        (selectionChanging)="onchangeImpactedPinSelect($event, cell, data, 'impactedpinno')">
                        <ng-template igxComboItem let-display let-key="valueKey">
                            <div class="item">
                                <span class="id">{{ display[key] }} - </span>
                                <span class="description">{{ display.description }}</span>
                            </div>
                        </ng-template>
                    </igx-combo> -->
                     <!-- ----- CHange on 17.02 ------ -->
                     <ng-select [items]="linkedpinsarrobj"   placeholder="Select Impacted Pin"
                     bindLabel="id" bindValue="id"
             [virtualScroll]="true" appendTo="body"  
             (change)="onchangeImpactedSelect($event, cell, data, 'impactedpinno')"
             (search)="searchInputFunction($event)"
             
            
            >
            <ng-template ng-option-tmp let-item="item">
              {{ item.id + "-" + item.description + "-" + item.description }}
            </ng-template>
            <ng-template ng-option-tmp let-item="item" let-search="searchTerm" let-index="index">
              <span >  {{ item.id }}</span>
        </ng-template>
          </ng-select>
        </ng-template>
          <!-- ----- CHange on 17.02 ------ -->
                        <!-- <ng-select    
                        #selectlinkedpin           
                        [items]="linkedpinsarrobj"
                        bindLabel="description2"
                        bindValue="id"
                        [clearable]="false"
                        [virtualScroll]="true"
                        [multiple]="false"
                        appendTo="body"
                        (change)="onchangeImpactedPinSelect($event, cell, data, 'linkedpinno')">
                        <ng-template ng-option-tmp let-item="item">
                          {{item.id}} - {{item.description2}}
                        </ng-template>
                        </ng-select> -->
                        <!-- <igx-select #select>
                            <igx-select-item *ngFor="let item of linkedpinsarrobj" [value]="item">
                                {{ item.planitem }} - {{ item.description }}
                            </igx-select-item>
                        </igx-select>
                    </ng-template> -->
                </igx-column>
                <igx-column [width]="'125px'" field="version" header="Version" [dataType]="'string'" [editable]="false">
                </igx-column>
                <igx-column [width]="'125px'" field="market" header="Market" [dataType]="'string'" [editable]="false">
                </igx-column>
                <igx-column [width]="'125px'" field="devtype2" header="Dev Class Type" [dataType]="'string'"
                    [editable]="false"></igx-column>
                <igx-column [width]="'125px'" field="studio" header="Studio" [dataType]="'string'" [editable]="false">
                </igx-column>
                <igx-column [width]="'125px'" field="description" header="Description" [dataType]="'string'"
                    [editable]="false"></igx-column>
                <igx-column [width]="'125px'" field="title" header="Title" [dataType]="'string'" [editable]="false">
                </igx-column>
                <igx-column [width]="'125px'" field="theme" header="Theme" [dataType]="'string'" [editable]="false">
                </igx-column>
                <igx-column [width]="'125px'" field="platform" header="Platform" [dataType]="'string'"
                    [editable]="false"></igx-column>
                <igx-column [width]="'125px'" field="prodcat3" header="Product Category" [dataType]="'string'"
                    [editable]="false"></igx-column>
                <igx-column [width]="'125px'" field="estApprDate" header="Estimate Approved Date" [dataType]="'string'"
                    [editable]="false"></igx-column>
                <igx-column [width]="'125px'" field="apprDate" header="Approved Date" [dataType]="'string'"
                    [editable]="false"></igx-column>
                    <igx-action-strip #impacactionstrip>
                        <!-- <igx-grid-pinning-actions></igx-grid-pinning-actions> -->
                        <button *ngIf="mpimpactedPermission && mpimpactedPermission.isEdit == true" title="Edit" igxButton="icon" igxRipple (click)='startImpacPinEdit(impacactionstrip.context)'>
                            <igx-icon>edit</igx-icon>
                        </button>
                        <!-- <button title="Undo All" igxButton="icon" igxRipple>
                            <igx-icon>undo</igx-icon>
                        </button>
                        <button title="Redo All" igxButton="icon" igxRipple>
                            <igx-icon>redo</igx-icon>
                        </button>
                        <button title='Save' igxButton="icon" igxRipple>
                            <igx-icon>save</igx-icon>
                        </button> -->
                        <button *ngIf="mpimpactedPermission && mpimpactedPermission.isDelete == true" title="Delete" igxButton="icon" igxRipple (click)="deleteImpacpinrow(impacactionstrip.context)">
                            <igx-icon>delete</igx-icon>
                        </button>
                        <button *ngIf="mpimpactedPermission && mpimpactedPermission.isAdd == true" title="Add New" igxButton="icon" igxRipple (click)='addNewImpacGrid(impacactionstrip.context)'>
                            <igx-icon>add</igx-icon>
                        </button>
                    </igx-action-strip> 
                    <!-- <igx-action-strip #actionstrip>
                        <igx-grid-editing-actions [addRow]="true"></igx-grid-editing-actions>
                    </igx-action-strip> -->
            </igx-grid>
        <!-- <app-rdap-shared-igx-grid-search-result [pagename]="managepinpagename" [exportfilename]="exportfilename"
            [searchGridData]="impactedpindata" [appString]="appString">
        </app-rdap-shared-igx-grid-search-result> -->
        </div>
    </div>
</form>
