@import './variables';
@import './app-layout';
/* You can add global styles to this file, and also import other style files */
@import '~material-icons/iconfont/material-icons.css';
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
@import "~@ng-select/ng-select/themes/material.theme.css";
html, body { height: 100%; }
body { margin: 0; font-family: 'lato', 'arial', sans-serif; }
@font-face {
    font-family: lato;
    src: url(assets/font/Lato/Lato-Regular.ttf) format("opentype");
  }
  body {
    scrollbar-width: thin;          /* "auto" or "thin" */
    scrollbar-color: blue orange;   /* scroll thumb and track */
  }

  .cdk-overlay-container {
    position: fixed !important;
    z-index: 10000 !important;
  }

  .cdk-overlay-pane {
    position: absolute;
    pointer-events: auto;
    box-sizing: border-box;
    z-index: 1000;
    display: flex;
    max-width: 100%;
    max-height: 100%;
    padding-left: 20px;
    padding-right: 100px;
    padding-top: 100px;
}

.warn-snackbar {
  color: white;
  background: #e50f7c;
}

/* Border Color */
.ng-select.ng-invalid.ng-touched .ng-select-container{
  border-color: red;
}
/* Arrow Color */
.ng-select.ng-invalid.ng-touched .ng-arrow-wrapper .ng-arrow{
  border-color: red transparent transparent
}
/* Placeholder Color */
.ng-select.ng-invalid.ng-touched .ng-select-container .ng-placeholder{
  color: red;
}

.light-theme {
  @include igx-light-theme($default-palette);
}

.ng-dropdown-panel .ng-dropdown-panel-items .ng-optgroup, .ng-dropdown-panel .ng-dropdown-panel-items .ng-option{
  font-size: 10px !important;
}

.igx-combo__checkbox {
  display: none !important;
}

  .igx-drop-down__inner{
    font-size: 12px !important;
  }

  .igx-drop-down__list{
    min-width: 25rem !important;
  }

$grays-btn-color: igx-color($green-palette, 'grays', 800);

/* autoprefixer grid: on */
html,
body {
  height: 100%;
  overflow: hidden;
  margin: 0;
}

@include igx-core();
@include igx-typography();
@include igx-theme(
  $palette: $palette,
  $schema: $schema,
  $legacy-support: $legacy-support
);

:root {
  @include igx-palette-vars($palette);
}

.light-theme {
  @include igx-light-theme($palette);
}

.dark-theme {
  background: #333;
  color: #fff;
  @include igx-dark-theme(
      $palette: $green-palette,
      $legacy-support: $legacy-support
  );

  .grid-chart-contextmenu-wrapper {
      @include igx-fluent-dark-theme($fluent-excel-palette);
  }
}

.fin-dark-theme {
  @include igx-dark-theme($green-palette);
  background: #333;

  ::-moz-placeholder {
      opacity: 1;
  }
}

