<form [formGroup]="gametitleform" style="padding-left: 2%;padding-right: 2%;min-height: 300px;padding-bottom: 2%;padding-top:2%;">
    <div class="col-lg-12">
        <div class="row">
            <div class="col-lg-4 form-group">
                <mat-form-field>
                  <mat-label>
                      PIN
                    <span class="compulsary-mark">*</span>
                    </mat-label>
                  <input
                    type="text"
                    matInput
                    name="name"
                    [disabled]="true"
                    formControlName="id"
                  />
                </mat-form-field>
            </div>
            <div class="col-lg-8 form-group required">
                <mat-form-field style="width: 100%;">
                    <mat-label>Business justification </mat-label>
                    <textarea matInput
                              cdkTextareaAutosize
                              #autosize="cdkTextareaAutosize"
                              cdkAutosizeMinRows="1"
                              cdkAutosizeMaxRows="5"
                              formControlName ="businessJustification"
                              (keyup) = "busjustification($event)"
                              ></textarea>
                  </mat-form-field>
            </div> 
        </div>
        <div class="row" style="font-size: 14px;font-weight: 400;">
            <span>Game Titles :</span>
        </div>
        <div class="row" *ngIf="titleDdldata.length>0 && actionflag =='A'">
          <div class="grid__wrapper">
            <igx-grid #gametitelgrid id="gametitelgrid" [primaryKey]="'id'" 
            [data]="data" width="100%" [rowEditable]="true"
             igxOverlayOutlet [autoGenerate]="false"
             (onCellEdit)="editDone($event)"
             (rowAdded)="editDone($event)">
             <igx-column [width]="'400px'" field="description2" header="Game Title" [dataType]="'string'">
                <ng-template igxCellEditor
                let-cell="cell" let-value>
                <ng-select               
                [items]="titleDdldata"
                placeholder="Enter Title"
                bindLabel="description2"
                bindValue = "id"
                [clearable]="false"
                [virtualScroll]="true"
                [multiple]="false"
                (change)="onchangeSelect($event, cell, data, 'title')"
                appendTo="body">
                <ng-template ng-option-tmp let-item="item">
                  {{ item.description2 }}
                </ng-template>
                </ng-select>
            </ng-template>
        </igx-column>
        <igx-column [width]="'400px'" field="description" header="Description" [dataType]="'string'" [hidden]="true">
    </igx-column>
        <igx-column [width]="'100px'" field="id" header="ID" [dataType]="'number'" [hidden]="true">
    </igx-column>
            <!-- <igx-action-strip #actionstrip>
                <igx-grid-editing-actions [addRow]="true"></igx-grid-editing-actions>
            </igx-action-strip> -->
            <igx-action-strip #actionstrip>
                <button title="Edit" igxButton="icon" igxRipple (click)='startEdit(actionstrip.context)'>
                    <igx-icon>edit</igx-icon>
                </button>
                <button  title="Add New" igxButton="icon" igxRipple (click)='addNew(actionstrip.context)'>
                    <igx-icon>add</igx-icon>
                </button>
                <button  title="Delete" igxButton="icon" igxRipple (click)="deleterow(actionstrip.context)">
                    <igx-icon>delete</igx-icon>
                </button>
            </igx-action-strip> 
        </igx-grid>
        </div>
        </div>
        <div class="row" *ngIf="titleDdldata.length>0 && actionflag =='V'">
            <div class="grid__wrapper">
              <igx-grid #gametitelgrid id="gametitelgrid" [primaryKey]="'id'" 
              [data]="gametitleviewdata" width="100%" [rowEditable]="false"
               igxOverlayOutlet [autoGenerate]="false">
               <igx-column [width]="'400px'" field="description2" header="Game Title" [dataType]="'string'">
          </igx-column>
          <igx-column [width]="'400px'" field="description" header="Description" [dataType]="'string'" [hidden]="true">
      </igx-column>
          <igx-column [width]="'100px'" field="id" header="ID" [dataType]="'number'" [hidden]="true">
      </igx-column>
              <!-- <igx-action-strip #actionstrip>
                  <igx-grid-editing-actions [addRow]="true"></igx-grid-editing-actions>
              </igx-action-strip> -->
          </igx-grid>
          </div>
          </div>
    </div>
</form>
