<!-- <article class="sample-column"> -->
    <div class="navbar-sample" style="position: relative; padding-right: 7.8%;padding-left: 7.8%;z-index: 999999999;">
        <igx-navbar [isActionButtonVisible]="false">
            <div class="col-lg-3">
                <!-- <a routerLink="/home/config/setuptable/region/search"> -->
                    <a routerLink="/home/dashboard">
                    <!-- <img c-portalfooter_portalfooter=""
                    src="https://qa1-aristocrat.cs117.force.com/CustomerPortal/resource/1611730979000/PortalAssets/Logo/Aristocrat_Gaming_Logo_white.png"
                    alt="Aristocrat" class="footerImage"> -->
                    <img c-portalfooter_portalfooter=""
                    src="../../../../assets/images/logo/Aristocrat_Gaming_Logo_white.png"
                    alt="Aristocrat" class="footerImage">
                </a>
            </div>
            <div class="col-lg-5" style="text-align: center;">
                <img c-portalfooter_portalfooter=""
                src="../../../../assets/images/menu/Top-Banner_Gold-Stacks-88-removebg-preview (2).png"
                alt="Aristocrat" class="headerImage">
            </div>
            <div class="col-lg-2" style="justify-content: right;">
                <div class="form-group">
                    <mat-form-field appearance="outline" style="width: 100%;">
                        <span class="material-icons md-24" matPrefix>search</span>
                      <input
                        matInput
                        placeholder="search"
                        name="search"
                        required
                        autocomplete="off"
                      />
                    </mat-form-field>
                  </div>
            </div>
            <div class="col-lg-1">
                <button mat-icon-button style="float: right;color: white;"><span class="material-icons-round">
                    account_circle
                    </span></button>
            </div>
        </igx-navbar>
    </div>
<!-- </article> -->
